.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  min-height: 90vh;
}

.login-page h1{
  font-weight: bold;
  font-size: calc(20px + 6vmin);
} 
