
#puzzle-one-question {
    margin: 0;
    max-height: 100%;
}

#puzzle-one-question p {
    text-overflow: ellipsis-word;
    overflow: hidden;
    max-width: 70vw;
    max-height: 30vh;
    font-weight: bold;
    font-size: clamp(1rem, 50% + 1.5rem, 2rem);
}

#puzzle-one-question p::before {
    content: '\201C';
    color: black;
}

#puzzle-one-question p::after {
    content: '\201D';
    color: black;
}

#puzzle-one-container {
    display: flex;
    justify-content: space-evenly;
    min-width: 65vw;
}

.puzzle-one-choice-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puzzle-one-choice-widget img {
    width: 150px;
    height: 150px;
    margin: 5px;
    margin-bottom: 25px;

    object-fit: cover;
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 22px 70px 4px;
}

.puzzle-one-choice-card {
    background: #1A1A1A;
    padding: 20px;
    margin-inline: min(25px, 5vw);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 22px 70px 4px;
    width: 10vw;
}


.puzzle-one-choice-card p {
    font-weight: bold;
    word-break: break-word;
    max-width: 100%;
}

.puzzle-one-choice-card:hover {
    background: #2A2A2A;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.65) 0px 22px 70px 4px;
}

.puzzle-one-choice-card:active {
    transform: translateY(-5%) !important;
}

.puzzle-one-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puzzle-one-answer h1 {
    position: relative;
    bottom: 4px;
}
